body {
  color: Blue;
  margin: 0 auto;

background-color: hotpink;
}


.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  width:100vw;
  height: 100vh
}

.box {
  width: 600px;
}

.text-box {
  display:flex;
  align-items: center;

}
.topbox {
  background-color: Beige;

  height: 10%;
}

.bottombox {
  background-color: gray;


  height: 90%;
}


.container2 {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    / Font properties /
    font-family: sans-serif;

}

.box2 {

    box-sizing: border-box;
    width: 300px;
    margin: 8px;


    background-color: rgb(0, 162, 255);
    border: 2px solid black;
    padding: 10px;
}



.box-left2 {
  -webkit-animation:spin 0.1s linear infinite;
    -moz-animation:spin 0.1s linear infinite;
    animation:spin 0.1s linear infinite;
    background-color: hotpink;
}

.box-right2 {
  -webkit-animation:spin2 0.2s linear infinite;
      -moz-animation:spin2 0.2s linear infinite;
      animation:spin2 0.2s linear infinite;
    text-align: right;
    background-color: cyan;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

@-moz-keyframes spin2 { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin2 { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin2 { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }






#vidtop-content {
    top: 0;
    color: #fff
}

.vid-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 33%;

    color: #fff;
    padding: 1rem;
    font-family: Avenir, Helvetica, sans-serif
}

    .vid-info h1 {
        font-size: 2rem;
        font-weight: 700;
        margin-top: 0;
        line-height: 1.2
    }

    .vid-info a {
        display: block;
        color: #fff;
        text-decoration: none;
        background: rgba(0, 0, 0, .7);
        transition: .6s background;
        border-bottom: none;
        margin: 1rem auto;
        text-align: center
    }

@media(min-aspect-ratio:16/9) {
    .video-foreground {
        height: 300%;
        top: 100%
    }
}

@media(max-aspect-ratio:16/9) {
    .video-foreground {
        width: 300%;
        left: 200%
    }
}

@media all and (max-width:600px) {
    .vid-info {
        width: 50%;
        padding: .5rem
    }

        .vid-info h1 {
            margin-bottom: .2rem
        }
}

@media all and (max-width:500px) {
    .vid-info .acronym {
        display: none
    }
}

video {
    position: fixed;

    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-animation:spin 0.25s linear infinite;
        -moz-animation:spin 0.25s linear infinite;
        animation:spin 0.25s linear infinite;
    background-size: cover;
    filter: grayscale(1) brightness(.4) contrast(1.05);
    -webkit-filter: grayscale(.3) brightness(.4) contrast(1.05)
}

.bordergold {
  border: 5px solid goldenrod;
}

.blackground {
  background-color: black;
}

.flip1 {
  -webkit-animation: flip1 1s;
  animation: flip1 1s;
}
@-webkit-keyframes flip1 {
  from {
    transform: rotateY(90deg)
  }
  to {
    transform: rotateY(0deg)
  }
}
@keyframes flip1 {
  from {
    transform: rotateY(90deg)
  }
  to {
    transform: rotateY(0deg)
  }
}
